@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="clientProfile">
</div>
<div id="servicesMenu">
</div>

<h1>Fancy Spa</h1>
<div id="clientProfile">
    <h3>Client profile</h3>
    <p>Name: @ViewBag.name</p>
</div>
<div id="servicesMenu">

    <h5>Facial Treatments</h5>
    <p>Skintype: @ViewBag.skintype. Appropriate facials for this skintype:</p>
    
    <ul>
        @foreach (String facial in ViewBag.appropriateFacials)
        {
            <li>@facial</li>
        }
    </ul>

    <h5>Nail Services</h5>
    // TODO: display a description for the nail service selected
    
</div>
