<form method="post" action="/user">
    <label>
        UserName:
        <input type="text" name="username" />
    </label><br />
    <label>
        Email:
        <input type="email" name="email" />
    </label><br />
    <label>
        Password:
        <input type="password" name="password" />
    </label><br />
    <label>
        Verify Password:
        <input type="password" name="passwordVerify" />
    </label>  <br /> 
    <input type="submit" value="Create User" />
</form>