<h1>Welcome, @ViewBag.username!</h1>
<a asp-controller="Spa" asp-action="Index">Back to Spa</a>
<br />
<br />
<div class="container">
    <p>Username: @ViewBag.username</p>
    <p>Email: @ViewBag.email</p>
    <p>Date Joined: @ViewBag.date</p>
</div>
